html {
    margin: 0;
    page-break-after: always;
    border: 0;
    
    padding: 0;
    
  }
  body {
    font-family: "Times New Roman", serif;
    margin: 4mm 10mm 4mm 10mm;
    
  }
  br {
    page-break-after: always;
    border: 0;
    margin: 0;
    padding: 0;
  }
  h4{
      color: rgb(223, 19, 19);
      font-size: 25px;
      margin: 0;
      padding: auto;
  }
  h1{
    color: #fff;
    font-size: 10px;
    margin: 0;
    padding: auto;
}
  h3{
      
      margin: 0;
      padding: 0;
      font-size: 10px;
  }
  h5{
      
      margin: 2px;
      padding: 0;
      font-size:12px;
      
  }
  a{
      color: black;
      font-weight: normal;
  }
  label{
    
    display: block;
    padding-left: 15px;
    text-indent: -5px;
    font-size:12px;
  }
  
  input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -8px;
    *overflow: hidden;
    
    
}


  

  .foto1 { 
      padding: 5px; 
      margin: 5px; 
      border: none; 
      float: left; 
      width: 180px; 
      border-radius: 14px;
  
  }
  .foto2 { 
      padding: 10px; 
      margin: 5px; 
      border: 1px solid black; 
      float: right; 
      width: 200px;
      height: 30px; 
      border-radius: 14px;
      border-color: rgb(223, 19, 19);
      text-align: center;
      padding: 24px;
      
  }
  .foto3 { 
    padding: 5px; 
    margin: 5px; 
    border: none; 
    float: right; 
    width: 170px; 
    border-radius: 14px;

}
.fotoMoto { 
    padding: 5px; 
    margin: 5px; 
    border: none; 
    float: right; 
    width: 150px; 
    border-radius: 14px;

}
    
  .caja { 
      border: black 1px solid;
      overflow: auto;
      max-width: 100%;
      width:47.5%;
      text-align: justify;
      padding: 4px; 
      margin: 4px; 
      border-radius: 14px; 
      page-break-inside: avoid;
      float:left;
      height: 70px;
      
  }

  .cajaOT { 
    border: black 1px solid;
    overflow: auto;
    max-width: 100%;
    width:47.5%;
    text-align: justify;
    padding: 4px; 
    margin: 4px; 
    border-radius: 14px; 
    page-break-inside: avoid;
    float:left;
    height: 120px;
    
}

  .caja2 { 
    border: black 1px solid;
    overflow: auto;
    max-width: 100%;
    width:47.5%;
    text-align: justify;
    padding: 4px; 
    margin: 4px; 
    border-radius: 14px; 
    page-break-inside: avoid;
    float:left;
    height: 100px;
    
}

.cajaEnd { 
    border: rgb(223, 19, 19) 1px solid;
    overflow: auto;
    max-width: 100%;
    width:90.5%;
    text-align: justify;
    padding: 4px; 
    margin: 4px; 
    border-radius: 5px; 
    page-break-inside: avoid;
    
    height: 39px;
    
}

.cajaIMG { 
    border: none;
    overflow: auto;
    max-width: 100%;
    width:27.5%;
    text-align: justify;
    padding: 4px; 
    margin: 4px; 
    border-radius: 14px; 
    page-break-inside: avoid;
    float:left;
    height: 365px;
    
}



.caja1 { 
    border: black 1px solid;
    overflow: auto;
    max-width: 100%;
    width:17.5%;
    text-align: justify;
    padding: 4px; 
    margin: 4px; 
    border-radius: 14px; 
    page-break-inside: avoid;
    float:left;
    height: 100px;
        
}


  
caption {
      padding: 0.3em;
}
            
footer{
    width:100%;
    height:50px;
    position: absolute;
    text-align: center;
    line-height: 35px;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 4%;
    align-self: flex-end;
    color:rgb(223, 19, 19)
    
}

table {
      
    border-collapse: collapse;
    width: 70%;
    padding: 10px;
    float:left;
    border-radius: 15px;
    
   
    
   
    
}

table td {
    
    border-top: 1px solid var(--second-bg-color);
    padding: 1px 4px;;
    border: 1px solid #000;
    font-size:12px;
    text-align: center;
    
   
    
}

table th {
    color:#fff;
    border: 1px solid #000;
    /*border-top: 1px solid var(--second-bg-color);
    border-bottom: 2px solid var(--second-bg-color);*/
    padding: 3px 2px;
    text-align: center;
    background: rgb(24, 3, 82);
    font-size:14px;
    
   
}
  

.tableAuto {
      
    border-collapse: separate;
    width: 50%;
    padding: px;
    border: 1px solid #000;
    border-radius: 5px;
    float:left;
    border-spacing: 10px;
}
.tableAuto td {
      
    border-top: 1px solid var(--second-bg-color);
    padding: 10px;
    border: 1px solid #000;;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: top;
    border-top: none;
}

.tableAuto th {
    color:#fff;
    border: 1px solid #000;
    border-top: 1px solid var(--second-bg-color);
    border-bottom: 1px solid var(--second-bg-color);
    padding: 13px ;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: top;
   
}

.caja4 { 
    border: none;
    overflow: auto;
    max-width: 100%;
    width:97.5%;
    text-align: justify;
    padding: 4px; 
    margin: 4px; 
    border-radius: 14px; 
    page-break-inside: avoid;
    
    height: 30px;
    
    
}

.caja5 { 
    border: black 1px solid;
    overflow: auto;
    max-width: 100%;
    width:21.1%;
    text-align: justify;
    padding: 6px; 
    margin: 6px; 
    border-radius: 5px; 
    page-break-inside: avoid;
    
    float: left;
    height: 46.5px;
    
}
.caja6 { 
    border: rgb(223, 19, 19) 1px solid;
    overflow: auto;
    max-width: 100%;
    width:21.1%;
    text-align: justify;
    padding: 6px; 
    margin: 6px; 
    border-radius: 5px; 
    page-break-inside: avoid;
    float: right;
    height: 46.5px;
}

