*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    background:linear-gradient(rgba(125, 125, 168, 0.6), rgba(125, 125, 168, 0.6)), url("../images/fondo2.jpg");
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


main{
    padding: 20px;
}

header{
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.jr{
    width: 50px;
    height: 100%;
    color:#e72e0d;
    justify-content: right;
    align-items: right;
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 15px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #000;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: dark;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}
a{
    color: 	#FF0000;
    justify-content: space-between;
}

a.selected{
    color: #fff;
}

.btn{

  color: 	#140457;
  background: transparent;
  border: none;
  font-size: 15px;


}

.btn1{

  color: 	#f10808;
  background: transparent;
  border: none;
  font-size: 15px; 

}
.btn2{

  color: 	#08f169;
  background: transparent;
  border: none;
  font-size: 15px;


}

.btn3{

  color: 	#f1e108;
  background: transparent;
  border: none;
  font-size: 15px;


}

.btn4{

  color: 	#030303;
  background: transparent;
  border: none;
  font-size: 15px;

}




.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/* estilos para tarjetas de presentacion*/
    h6 {
      color: white;
      font-size: 0.90em;
    }
    .order-card {
      color: #fff;
    }

    .bg-c-blue {
      background-color: rgba(160, 28, 28, 0.5);
    }

    .bg-c-green {
      background-color: rgba(18, 71, 170, 0.5);
    }

    .bg-c-yellow {
      background-color: rgba(17, 175, 12, 0.5);
    }

    .bg-c-pink {
      
      background-color: rgba(209, 196, 12, 0.5);
    }


    .card {
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
      box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.86);
      border: none;
      margin-bottom: 30px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .card .card-block {
      padding: 25px;
    }

    .order-card i {
      font-size: 26px;
    }

    .f-left {
      float: left;
    }

    .f-right {
      float: right;
    }
    h6{
      size:20;
    }

    .row {
    width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: space-between;
}

.row:after, .row:before {
	box-sizing: border-box;
}

[class*="col-"] {
	padding: 10px;
}


/*Clases para usar en JavaScript*/

.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}

.card-header {
	padding: 15px 30px;
	border-bottom: 1px solid var(--second-bg-color);
	position: relative;
}

.card-header i {
	color: var(--main-color);
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.card-header i:hover {
	cursor: pointer;
}

.card-header h3 {
	margin: 0;
	
}

.card-content {
	padding: 20px;
	overflow-x: auto;
}

.form-register {
  width: 100%;
  background: rgba(4, 0, 0, 0.75);
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  border-radius: 4px;
  font-family: 'calibri';
  color: rgb(255, 255, 255); 
  box-shadow: 7px 13px 37px #000;
    
 
  max-width: 1100px;
}

.form-register td{

  color: rgb(247, 244, 244); 
}

.form-register .btn{

  color: 	#140457; 
}
.form-register .btn:hover{

  color: 	#fd0505; 
}

.form-register .btn4{

  color: 	#030303;
}
.form-register .btn4:hover{

  color: 	#fd0505; 
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: rgba(4, 0, 0, 0.5);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
  
}

.controls-2{
  width: 100%;
  background: rgba(4, 0, 0, 0.5);
  padding: 50px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
  
}

.buttonB {
  width: 20%;
  background: rgb(0, 0, 0);
  border: 1px solid #ff0000;
  padding: 12px;
  color: white;
  margin: 1px 0;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  
 }

 .buttonB:hover {
  background-color: #e72e0d;
}
 

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}


.form-register .botons {
  width: 100%;
  background: #000;
  border: 1px solid #ff0000;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  
}

.form-register .botons:hover {

  background-color: #e72e0d;
}



.form-register .botons-2 {
  width: 100%;
  background: #000;
  border: 1px solid #ff0000;
  padding: 12px;
  color: white;
  margin: 1px 0;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  
}

.form-register .botons-2:hover {

  background-color: #e72e0d;
}



@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}

@media only screen and (min-width: 768px) {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 100%;}
}

.fcc-btn {
 /* background-color: #087deb;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 0%;*/
  width: 100%;
  background: rgb(0, 0, 0);
  border: 1px solid #ff0000;
  padding: 12px;
  color: white;
  margin: 1px 0;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  
}

.fcc-btn:hover {
  background-color: #e72e0d;
}

li {
  cursor: pointer;
  list-style: none;
  line-height: 1.5;
  display:block;
  border: 0px solid rgba(4, 0, 0, 0.5);
  background-color: rgba(4, 0, 0, 0.5);
  color:#fff;

}

li:hover {
 
  background-color:#638eec;
  color:#000;
  

}

table{
  background: transparent !important;
  width: 100%;
  border: none;
}

table th{
  border: #638eec 1px solid;
  border-collapse: collapse;
}

table td{
  border: #638eec 1px solid;
  border-collapse: collapse;
}

/*
button {
  --border-radius: 25px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  border-radius: 25px;
  background-color: #212121;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
 }
 
 button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
     #488cfb,
     #29dbbc,
     #ddf505,
     #ff9f0e,
     #e440bb,
     #655adc,
     #488cfb
   );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
 }
 
 button:hover::after {
  animation-play-state: running;
 }
 
 @keyframes rotate-hue {
  to {
   filter: hue-rotate(1turn);
  }
 }
 
 button,
 button::after {
  box-sizing: border-box;
 }
 
 button:active {
  --border-width: 5px;
 }
*/


.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #b1dae7;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }



 .toggle-border {
  border: 1px solid #f0ebeb;
  border-radius: 130px;
  margin-bottom: 45px;
  padding: 1px 2px;
  background: linear-gradient(to bottom right, white, rgba(220,220,220,.5)), white;
  box-shadow: 0 0 0 2px #fbfbfb;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 5%;
 }
 
 .toggle-border:last-child {
  margin-bottom: 0;
 }
 
 .toggle-border input[type="checkbox"] {
  display: none;
 }
 
 .toggle-border label {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 20px;
  background: #d13613;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: inset 0 0 16px rgba(0,0,0,.3);
  transition: background .5s;
 }
 
 .toggle-border input[type="checkbox"]:checked + label {
  background: #13d162;
 }
 
 .handle {
  position: absolute;
  top: -8px;
  left: -10px;
  width: 35px;
  height: 35px;
  border: 1px solid #e5e5e5;
  background: repeating-radial-gradient(circle at 50% 50%, rgba(200,200,200,.2) 0%, rgba(200,200,200,.2) 2%, transparent 2%, transparent 3%, rgba(200,200,200,.2) 3%, transparent 3%), conic-gradient(white 0%, silver 10%, white 35%, silver 45%, white 60%, silver 70%, white 80%, silver 95%, white 100%);
  border-radius: 50%;
  box-shadow: 3px 5px 10px 0 rgba(0,0,0,.4);
  transition: left .4s;
 }
 
 .toggle-border input[type="checkbox"]:checked + label > .handle {
  left: calc(100% - 35px + 10px);
 }

 .cardJR {
  width: 12.5rem;
  height: 17rem;
  background-color: #212121;
  border-radius: 1rem;
  border: #212121 0.2rem solid;
  transition: all 0.4s ease-in;
  box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
  color:#fcfdfd;
  padding: auto;
  top: 0;
  margin: auto;
  
 }
 
 .cardJR:hover {
  transform: rotate(90deg);
  border: #f2295bf0 0.2em solid;
  border-radius: 1rem;
  
 }

 

 .button {
  position: relative;
  border: #212121 0.2rem solid;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsl(340deg 100% 16%) 0%,
     hsl(340deg 100% 32%) 8%,
     hsl(340deg 100% 32%) 92%,
     hsl(340deg 100% 16%) 100%
   );
 }
 
 .front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 button:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 button:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 button:focus:not(:focus-visible) {
  outline: none;
 }

 

  input.jobs{
    width: 94%;
    background: rgba(4, 0, 0, 0.5);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    
  }

  .remove{
    width: 5%;
    background: #000;
    border: 1px solid #ff0000;
    padding: 12px;
    color: white;
    margin: 1px 0;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
    float: right;
    text-align: center;
    

  }
  .remove:hover {
    background-color: #e72e0d;
    
  }

  .add{
    width: 100%;
    background: #000;
    border: 1px solid #ff0000;
    padding: 12px;
    color: white;
    margin: 30px 0;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
    text-align: center;
    
  }
  .add:hover {
    background-color: #e72e0d;
    
  }


 